@import 'variables'
variables()
normalize-css()
base()
@import 'typography'
typography()
components()
scrollbars()
@import 'themed-buntpapier'
themed-buntpapier()
@import 'common-ui'

a
	color: var(--clr-primary)
	text-decoration: none

body
	background-color: transparent

html, body, #app
	margin: 0
	height: 100%
	overflow: hidden

#app
	display: flex
	flex-direction: column
	min-height: 0

.bunt-scrollbar
	min-height: 0 // firefox can fuck off into space

:root
	--clr-blue-grey-600: $clr-blue-grey-600
	--material-easing: $material-easing
