{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %} :: venueless</title>
        <link rel="stylesheet" href="{% static 'control/style.css' %}">
    </head>
    <body>
        <header class="header">
            {% if request.user.is_authenticated %}
                <li class="menu__item"><a class="menu__link" href="{% url 'control:logout' %}">Logout</a></li>
            {% else %}
                <li class="menu__item"><a class="menu__link" href="{% url 'control:login' %}">Login</a></li>
            {% endif %}
        </header>
        <div id="main-container">
            <nav class="menu" id="menu">
                <ul class="menu__list">
                {% if request.user.is_authenticated %}
                {% endif %}
                </ul>
            </nav>
            <main>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            {% block content %}

            {% endblock %}

            </main>
        </div>
    </body>
</html>
